// noinspection CssInvalidAtRule
@tailwind base;
// noinspection CssInvalidAtRule
@tailwind components;
// noinspection CssInvalidAtRule
@tailwind utilities;
@import 'functions';
html {
  font-family: 'Lota Grotesque', system-ui, -apple-system, BlinkMacSystemFont,
    Arial, sans-serif;
  color: #0a2533;
  line-height: 1.6;
  font-size: 18px;

  max-width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import 'fonts';
@import 'typography';
