.text-62px {
  @apply font-semibold;
  font-size: remify(44px);
  line-height: remify(44px);
  @screen lg {
    font-size: remify(62px);
    line-height: remify(62px);
  }
}
.text-48px {
  @apply font-bold;
  font-size: remify(36px);
  line-height: remify(40px);
  @screen lg {
    font-size: remify(48px);
    line-height: remify(52px);
  }
}
.text-48px-normal {
  font-size: remify(32px);
  line-height: remify(40px);
  @screen lg {
    font-size: remify(48px);
    line-height: remify(54px);
  }
}
.text-32px {
  @apply font-bold;
  font-size: remify(24px);
  line-height: remify(44px);
  @screen lg {
    font-size: remify(32px);
    line-height: remify(52px);
  }
}
.text-24px {
  @apply font-semibold;
  font-size: remify(18px);
  line-height: remify(24px);
  @screen lg {
    font-size: remify(24px);
    line-height: remify(32px);
  }
}
.text-22px {
  font-size: remify(18px);
  line-height: remify(26px);
  @screen lg {
    font-size: remify(22px);
    line-height: remify(32px);
  }
}
.text-20px {
  font-size: remify(18px);
  line-height: remify(26px);
  @screen lg {
    font-size: remify(20px);
    line-height: remify(32px);
  }
}
.text-18px {
  font-size: remify(18px);
  line-height: remify(18px);
}
.text-16px {
  font-size: remify(16px);
  line-height: remify(21px);
}
.text-14px {
  font-size: remify(14px);
  line-height: remify(23px);
}
.text-13px {
  font-size: remify(13px);
  line-height: remify(17px);
}
.text-12px {
  font-size: remify(12px);
  line-height: remify(20px);
}
