.text-64px {
  @apply font-semibold;
  font-size: remify(30px);
  line-height: remify(38px);
  @screen md {
    font-size: remify(36px);
    line-height: remify(60px);
  }
  @screen lg {
    font-size: remify(45px);
    line-height: remify(70px);
  }
  @screen xl {
    font-size: remify(64px);
    line-height: remify(80px);
  }
}
.text-40px {
  @apply font-semibold;
  font-size: remify(24px);
  line-height: remify(40px);
  @screen md {
    font-size: remify(36px);
    line-height: remify(50px);
  }
  @screen lg {
    font-size: remify(40px);
    line-height: remify(60px);
  }
}
.text-30px {
  @apply font-semibold;
  font-size: remify(30px);
  line-height: remify(45px);
  @screen lg {
    font-size: remify(30px);
    line-height: remify(55px);
  }
}
.text-22px {
  @apply font-semibold;
  font-size: remify(22px);
  line-height: remify(28px);
  @screen lg {
    font-size: remify(22px);
    line-height: remify(28px);
  }
}
.text-20px {
  @apply font-semibold;
  font-size: remify(16px);
  line-height: remify(30px);
  @screen lg {
    font-size: remify(20px);
    line-height: remify(30px);
  }
}
.text-18px {
  font-size: remify(14px);
  line-height: remify(24px);
  @screen md {
    font-size: remify(16px);
    line-height: remify(32px);
  }
  @screen lg {
    font-size: remify(18px);
    line-height: remify(42px);
  }
}
.text-16px {
  font-size: remify(14px);
  line-height: remify(30px);
  @screen lg {
    font-size: remify(16px);
    line-height: remify(35px);
  }
}
.text-15px {
  font-size: remify(15px);
  line-height: remify(32px);
  @screen lg {
    font-size: remify(15px);
    line-height: remify(32px);
  }
}
